#eventsDataTable, #eventsDataTable th, #eventsDataTable td {
    border: 1px solid;
}

#eventsDataTable {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

#eventsDataTable th, #eventsDataTable td {
    padding: 0.5em;
}

#eventsDataTable tbody tr:hover {
    background-color: skyblue;
    cursor: pointer;
}