#singleEventContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0.5em;
    padding: 0.5em;
    gap: 0.5em;
}

#singleEventInfo {
    display: flex;
    flex-direction: row;
    gap: 5em;
    width: 90vw;
}

.eventError {
    color: red;
}