
.events-page-container {
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  overflow-x: hidden;
}

.events-links-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1rem;
}

.events-container {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 475px;
}

.event-error {
  color: red;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
}

.events-filter-bar {
  background-color: #f9fafb;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 300px;
}
